<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saídas</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Controle Zoofarmacêutico</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/estoque/">Estoque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/produto/">Produtos disponíveis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/setor/">Setor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/animal/">Animal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/saida/">Saida</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/detalhes/">Detalhes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/usuario/">Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/">Administração</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="mb-4">Tabela de Saídas</h2>

        <!-- Botão para adicionar uma nova saída no canto superior direito -->
        <div class="text-right mb-3">
            <a href="http://127.0.0.1:8000/admin/app/saida/add/" class="btn btn-outline-success">Adicionar nova saída</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Usuário</th>
                    <th scope="col">Animal</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Excluir</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for saidas in saidas %}
                <tr>
                    <td>{{ saidas.usuario }}</td>
                    <td>{{ saidas.animal }}</td>
                    <td>{{ saidas.data }}</td>
                    <td>{{ saidas.horario }}</td>
                    <td><a href="delete/{{ saidas.id }}" class="btn btn-outline-success">Excluir</a></td>
                    <td><a href="editar/{{ saidas.id }}" class="btn btn-outline-success">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Incluindo jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
